h1 {
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

#image {
    width: 100%;
}

.banner2 {
    width: 100%;
}

.para {
    color: cadetblue;
    font-size: medium;
}

.location {
    color: blue;
}